/* Hamburger */

.hamburger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    cursor: pointer;
    z-index: 10000;
    padding: 8px;

    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: background 0.3s ease;
}

.hamburger:hover {
    background: rgba(100, 100, 100, 0.85);
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* X animation */
.hamburger.open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* Fullscreen nav*/

.nav-links {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 4rem;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 9999;
}

.nav-links.open {
    opacity: 1;
    pointer-events: auto;
}

/* Main links*/

.nav-links a {
    color: #b6b6b6;
    text-decoration: none;

    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;

    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Expandable hobbies */

.nav-expand {
    background: none;
    border: none;
    padding: 0; 

    color: #b6b6b6;
    text-decoration: none;

    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    outline: none; 
    transition: color 0.2s ease;
}

.nav-expand:focus{
    outline: none; 
}

.nav-expand:hover {
    color: #ffffff;
}

.nav-expand .arrow {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.nav-expand.open .arrow {
    transform: rotate(180deg);
}

/* Submenu*/

.submenu-inline {
    max-height: 0;
    overflow-y: hidden;
    overflow-x: visible;

    display: flex;
    flex-direction: column;

    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;

    border-left: 2px solid rgba(255, 255, 255, 0.1);

    transition: max-height 0.3s ease;
}

.submenu-inline.open {
    max-height: 300px;
}

.submenu-inline a {
    padding-left: 0;
    padding-right: 1rem; /* gives room to words*/
    transition: color 0.2s ease, padding-left 0.2s ease;

    font-size: 1.4rem;
    font-weight: 400;
}

.submenu-inline a:hover {
    color: #ffffff;
    padding-left: 4px;
}